/* ----- Reset ----- */
*{
    box-sizing:border-box; 
    font-family: 'Roboto', sans-serif; 
    margin:0; 
    padding:0; 
    scroll-behavior:smooth;
}

.informativo-titulo,
.sobre-titulo,
.servicos-titulo,
.estatistica-titulo,
.depoimentos-titulo,
.portfolio-titulo,
.faq-titulo,
.contato-titulo{
    font-size:2.3rem;
}


/* ----- Variáveis ----- */
:root{
    --cor-fundo-secao:#f3f3f3;
    --cor-fundo-btns:#5271FF;
}


/* ----- Efeito scroll ----- */
.conteudo-escondido{
    opacity:0; 
    transition:all 1s; 
    transform:translateY(20%);
    visibility:hidden; 
}

.js-conteudo-mostrar{
    opacity:1; 
    transform:translateY(0);
    visibility:visible; 
}


/* ----- Header ----- */
.header-container{
    padding:30px 50px 0; 
    position:relative; 
    z-index:50;
}

.header-box{
    align-items:center; 
    display:flex; 
    justify-content:space-between; 
    margin:0 auto; 
    max-width:1200px;
}

.header-logo{
    height:35px;
}

.header-categorias-itens{
    align-items: center; 
    display:flex; 
    justify-content:flex-end; 
    text-transform:uppercase;
}

.header-categorias-box-btn-rwd{
    display:none;
}

.header-categoria{
    list-style:none; 
    margin-right:30px; 
    text-decoration:none;
}

.header-categoria:last-of-type{
    margin-right:0;
}

.header-categoria-link{
    color:#000; 
    text-decoration:none;
}


/* ----- Informative ----- */
.informativo-container{
    padding:50px;
}

.informativo-box{
    display:flex; 
    justify-content:space-between; 
    margin:0 auto; 
    max-width:1200px;
}

.informativo-conteudo{
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    margin-right:150px; 
    width:600px;
}

.informativo-texto{
    font-size:1.2rem; 
    margin-top:20px;
}

.informativo-btn{
    background-color:var(--cor-fundo-btns); 
    border:transparent; 
    border-radius:5px; 
    cursor:pointer; 
    display:flex; 
    font-size:1rem; 
    margin-top:20px; 
    width:140px;
}

.informativo-btn-link{
    color:#fff; 
    font-weight:bold; 
    height:100%; 
    padding:13px; 
    text-decoration:none; 
    width:100%;
}

.informativo-img{
    height:auto; 
    width:450px;
}


/* ----- Sobre ----- */
.sobre-container{
    background-color:var(--cor-fundo-secao); 
    padding:50px;
}

.sobre-box{
    align-items:center; 
    display:flex; 
    flex-direction:column; 
    margin:0 auto; 
    width:600px;
}

.sobre-texto{
    line-height:1.5; 
    margin-top:10px; 
    text-align:center;
}

.sobre-subtitulos-box{
    align-items:center; 
    display:flex; 
    justify-content:center; 
    margin-top:20px; 
    width:100%;
}

.sobre-subtitulos{
    cursor:pointer;
}

.sobre-subtitulo-trajetoria,
.sobre-subtitulo-experiencia{
    margin-right:30px;
}

.sobre-subtitulo-fundo{
    background-color:var(--cor-fundo-btns); 
    border-radius:5px; 
    color:#fff; 
    padding:10px;
}

.sobre-textos-box{
    background-color:#fff; 
    border-radius:5px; 
    margin-top:20px; 
    padding:20px;
}

.sobre-textos{
    display:none; 
    visibility:hidden; 
    line-height:1.5; 
    order:2;
} 

.sobre-texto-visivel{
    display:flex;
    gap:20px; 
    flex-direction:column; 
    order:1;
    visibility:visible; 
}


/* ----- Services ----- */
.servicos-container{
    padding:50px;
}

.servicos-box{
    align-items:center; 
    display:flex; 
    flex-direction:column; 
    margin:0 auto; 
    max-width:800px; 
    text-align:center;
}

.servicos-texto{
    line-height:1.5; 
    margin-top:10px; 
    padding:0 100px;}

.servicos-itens{
    display:grid; 
    gap:50px; 
    grid-template-columns:repeat(2, 1fr);  
    margin-top:30px;
}

.servicos-item-conteudo{
    align-items:center; 
    display:flex; 
    flex-direction:column;
}

.servico-img{
    height:100px; 
    width:auto;
}

.servico-subtitulo{
    margin-top:20px;
}

.servico-texto{
    line-height:1.5; 
    margin-top:10px; 
    padding:0 50px; 
    text-align:center;
}


/* ----- Estatística ----- */
.estatistica-container{
    background-color:var(--cor-fundo-secao); 
    padding:50px;
}

.estatistica-box{
    display:flex; 
    justify-content:space-evenly; 
    margin:0 auto; 
    max-width:1200px;
}

.estatistica-item{
    text-align:center;
}

.estatistica-img{
    height:30px;
}


/* ----- Depoimentos ----- */
.depoimentos-container{
    padding:50px;
}

.depoimentos-box{
    margin:0 auto; 
    max-width:800px; 
    text-align:center;
}

.depoimentos-texto{
    line-height:1.5; 
    margin-top:10px; 
    padding:0 100px;
}

.depoimentos-conteudo{
    display:flex;
    margin-top:30px;
}

.depoimentos-seta-esquerda,
.depoimentos-seta-direita{
    align-self:center; 
    cursor:pointer; 
    height:70px;
}

.depoimentos-itens{
    display:flex; 
    overflow-x:scroll; 
    scrollbar-width:none;
}

.depoimentos-itens::-webkit-scrollbar{
    display:none;
}
 
.depoimento-item{
    align-items:center; 
    display:flex; 
    flex-direction:column; 
    flex-shrink:0; 
    opacity:0; 
    order:2; 
    transition:opacity 1s; 
    width:100%;
}

.depoimento-img-1{
    background:url("imgs/depoimentos/depoimentos-1.jpg") no-repeat top/cover; 
    border-radius:50%; 
    height:80px;
    width:80px; 
}

.depoimento-img-2{
    background:url("imgs/depoimentos/depoimentos-2.jpg") no-repeat top/cover; 
    border-radius:50%; 
    height:80px;
    width:80px; 
}

.depoimento-img-3{background:url("imgs/depoimentos/depoimentos-3.jpg") no-repeat bottom/cover; 
    border-radius:50%; 
    height:80px;
    width:80px; 
}

.depoimento-img-4{
    background:url("imgs/depoimentos/depoimentos-4.jpg") no-repeat top/cover; 
    border-radius:50%; 
    height:80px;
    width:80px; 
}

.depoimento-name{
    margin-top:10px;
}

.depoimento-text{
    line-height:1.5; 
    margin-top:10px;
    padding:0 50px;
}

.depoimento-visivel{
    opacity:1; 
    order:1;
}


/* ----- Portfolio ----- */
.portfolio-container{
    background-color:var(--cor-fundo-secao); 
    padding:50px;
}

.portfolio-box{
    margin:0 auto; 
    max-width:800px; 
    text-align:center;
}

.portfolio-texto{
    line-height:1.5; 
    margin-top:10px; 
    padding:0 100px;
}

.portfolio-conteudo{
    display:grid; 
    gap:20px; 
    grid-template-columns:repeat(2, 1fr); 
    justify-content:center; 
    margin:30px auto 0; 
    max-width:1000px;
}

.portfolio-img-box:first-of-type{
    grid-row:1/3; 
    height:100%;
}

.portfolio-img:first-of-type{
    height:100%;
}

.portfolio-img{
    border-radius:5px; 
    cursor:pointer; 
    filter:drop-shadow(2px 4px 6px #000); 
    object-fit:cover; 
    width:100%;
}

.portfolio-modal{
    background-color:rgba(230, 230, 230, 0.9); 
    height:100%; 
    overflow-y:auto !important; 
    padding:30px; 
    position:fixed; 
    right:0; 
    text-align:left; 
    top:0; 
    transform:translateX(100%);
    transition:all .5s; 
    visibility:hidden; 
    width:500px; 
    z-index:100;
}

.portfolio-modal-fechar{
    cursor:pointer; 
    height:50px; 
    position:absolute;  
    right:18px; 
    top:16px;
}

.portfolio-modal-titulo{
    margin-top:20px;
}

.portfolio-modal-img{
    border-radius:5px; 
    margin-top:20px; 
    width:100%;
}

.portfolio-modal-texto{
    line-height:1.5; 
    margin-top:10px;
}

.portfolio-modal-visuivel{ 
    transform:translateX(0); 
    visibility:visible;
}


/* ----- Faq ----- */
.faq-container{
    padding:50px;
}

.faq-box{
    margin:0 auto; 
    max-width:600px; 
    text-align:center;
}

.faq-texto{
    line-height:1.5; 
    margin-top:10px; 
    line-height:1.5;
}

.faq-img{
    height:150px;
    margin-top: 20px;
}

.faq-itens{
    display:flex; 
    flex-direction:column; 
    gap:10px; 
    margin-top:20px;
}

.faq-item{
    cursor:pointer;
}

.faq-titulo-icone{
    border:1px solid #000; 
    border-radius:5px; 
    display:flex; 
    justify-content:space-between; 
    padding:10px;
}

.faq-pergunta{
    align-self:center; 
    text-align:left;
}

.faq-icone{
    height:30px;
}

.faq-resposta-box{
    height:0; 
    opacity:0; 
    transition:all .5s; 
    visibility:hidden;
}

.faq-resposta{
    background-color:#eee; 
    border-radius:5px; 
    line-height:1.5; 
    padding:20px; 
    text-align:left;
}

.faq-resposta-visivel{
    height:max-content; 
    margin:10px 0 20px; 
    opacity:1; 
    visibility:visible;
}


/* ----- Contatos ----- */
.contatos-container{
    background-color:var(--cor-fundo-secao); 
    padding:50px;
}

.contatos-box{
    margin:0 auto; 
    max-width:800px; 
    text-align:center;
}

.contatos-texto{
    line-height:1.5; 
    margin-top:10px; 
    padding:0 100px; 
}

.contatos-conteudo{
    display:flex; 
    gap:20px; 
    margin-top:30px;
}

.contatos-itens{
    background-color:#e9e9e9; 
    border-radius:5px; 
    display:flex; 
    filter:drop-shadow(2px 4px 6px #000); 
    flex-direction:column; 
    justify-content:space-between; 
    width:50%;
}

.contatos-item{
    padding:20px;
}

.contatos-img{
    height:30px;
}

.contatos-info{
    margin-top:10px;
}

.contatos-mapa-box{
    filter:drop-shadow(2px 4px 6px #000); 
    height:400px; 
    width:50%;
}

.contatos-mapa{
    border-radius:5px; 
    height:100%; 
    width:100%;
}


/* ----- Footer ----- */
.footer-container{
    padding:50px;
}

.footer-box{
    display:flex; 
    gap:50px; 
    justify-content:center; 
    margin:0 auto; 
    max-width:1200px;
}

.footer-sobre{
    width:30%;
}

.footer-sobre-texto{
    line-height:1.5; 
    margin-top:10px;
}

.footer-box-contatos-links{
    display:flex;
    gap:60px;
}

.footer-contatos-menu{
    display:flex; 
    flex-direction:column; 
    gap:5px; 
    margin-top:10px;
}

.footer-contato{
    display:flex; 
    gap:5px;
}

.footer-contato-img{
    height:20px;
}

.footer-menu-links{
    display:flex; 
    flex-direction:column; 
    gap:5px; 
    margin-top:10px;
}

.footer-menu-link{
    color:black; 
    text-decoration:none;
}

.footer-sociais-links{
    display:flex; 
    gap:20px; 
    margin-top:10px;
}

.footer-social-link{
    align-items:center; 
    border:1px solid #000; 
    border-radius:50%; display:flex; 
    height:40px; 
    justify-content:center; 
    width:40px;
}

.footer-social-link:hover{
    background-color:var(--cor-fundo-secao);
}

.footer-social-img{
    height:25px;
}


/* ----- Copyright ----- */
.copyright-container{
    background-color:var(--cor-fundo-secao); 
    padding:20px 50px;
}

.copyright-box{
    max-width:1200px; 
    text-align:center;
}


/* ----- Responsivo ----- */
@media (max-width:430px) {
    /* ----- Sobre ----- */
    .sobre-subtitulos-box{
        flex-direction:column;
    }
    
    .sobre-subtitulo-trajetoria,
    .sobre-subtitulo-experiencia{
        margin-bottom:10px; 
        margin-right:0;
    }


    /* ----- Servicos ----- */
    .servico-texto{
        padding:0 !important;
    }


    /* ----- Faq ----- */
    .faq-pergunta{
        margin-right:20px; 
        text-align:left;
    }
}

@media (max-width:600px) {
    /* ----- Estatística ----- */
    .estatistica-box{
        flex-direction:column; 
        gap:20px;
    }


    /* ----- Portfólio ----- */
    .portfolio-conteudo{
        gap:30px; 
        grid-template-columns:1fr;
    }

    .portfolio-modal{
        width:100%;
    }
}

@media (max-width:759px) {
    /* ----- Categories ----- */
    .header-categorias-box{
        height:100vh; 
        left:0; 
        opacity:0; 
        position:absolute; 
        top:0; 
        transform:translateX(-100%); 
        transition:all 1s; 
        width:100vw;
    }

    .categorias-visivel-rwd{
        opacity:1; 
        transform:translateX(0);
    }

    .header-categorias-itens{
        align-items:center; 
        background-color:#eee; 
        filter:opacity(0.9); 
        flex-direction:column; 
        height:100%; 
        justify-content:center;
    }

    .header-categoria{
        margin:0 0 10px;
    }

    .header-categoria-link{
        font-size:1.5rem; 
        font-weight:bold;
    }

    .header-categorias-box-btn-rwd{
        display:inline; 
        position:absolute; 
        right:44px; 
        top:22px; 
        z-index:100;
    }
    
    .header-categorias-btn-rwd{
        cursor:pointer; 
        height:50px;
    }

    .scroll-escondido{
        overflow:hidden;
    }

    .scroll-visivel{
        overflow:auto;
    }


    /* ----- Informativo ----- */
    .informativo-box{
        flex-direction:column; 
        overflow-x:hidden;
    }

    .informativo-conteudo{
        align-items:center; 
        text-align:center; 
        width:100%;
    }

    .informativo-box-img{
        margin:40px auto 0;
    }

    .informativo-img{
        height:auto; 
        max-width:400px; 
        width:100%;
    }


    /* ----- Sobre ----- */
    .sobre-box{
        width:auto;
    }


    /* ----- Servicos ----- */
    .servicos-itens{
        grid-template-columns:1fr;
    }

    .servicos-texto{
        padding:0;
    }

    .servico-texto{
        padding:0 30px;
    }


    /* ----- Depoimentos ----- */
    .depoimentos-texto,
    .depoimento-texto{
        padding:0;
    }

 
    /* ----- Portfólio ----- */
    .portfolio-texto{
        padding:0;
    }


    /* ----- Faq ----- */
    .faq-img{
        height:100px;
    }


    /* ----- Contatos ----- */
    .contatos-conteudo{
        align-items:center; 
        flex-direction:column;
    }
    
    .contatos-texto{
        padding:0;
    }

    .contatos-itens{
        justify-content:space-between; 
        padding:20px 30px; 
        width:100%;
    }

    .contatos-mapa-box{
        width:100%;
    }
}

@media (min-width:760px) and (max-width:1023px){
    /* ----- Informativo ----- */
    .informativo-conteudo{
        margin-right:50px; 
        width:auto;
    }

    .informativo-img{
        height:auto; 
        width:350px;
    }
}

@media (max-width:1023px) {
    /* ----- Footer ----- */
    .footer-box{
        align-items:center; 
        flex-direction:column; 
        gap:40px;
    } 

    .footer-sobre{
        text-align:center; 
        width:100%;
    }
  
    .footer-contatos-titulo,
    .footer-sociais-titulo{
        text-align:center;
    }
}